*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container_1{
    height: 10vh;
    width: 100%;
    background-color: rgb(164, 129, 149);
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.container_2{
    height: 70vh;
    width: 100%;
    background-color: rgb(188, 84, 84); 
    display: grid;      
    align-items: center;
    justify-items: center;
}
.con{
    width: 25vw;
    height: 60vh;
    background-color: rgb(41, 139, 171);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid;
}
.con div{ 
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    cursor: pointer;
}
    
.container_3{
    height: 10vh;
    background-color: rgb(158, 122, 177);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_3 button{
    padding: 7px;
    border-radius: 6px;
    font-size: medium;
    background-color: wheat;
}
.container_4{
    height: 10vh;
    background-color: rgb(191, 204, 214);
}